<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Smartsupp Live Chat</label>
    <label lang="en">Smartsupp Live Chat</label>

    <version>1.0.0</version>
    <copyright>(c) by Smartsupp since 2019</copyright>
    <license>GPL-3.0-or-later</license>
    <link>https://www.smartsupp.com/</link>
    <author>Smartsupp</author>
    <compatibility minVersion="5.3.0"/>

    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung</changes>
        <changes lang="en">First release</changes>
    </changelog>
    <description lang="en">
        <![CDATA[
   <b>Smartsupp Live Chat</b>
   <p>Smartsupp chat enables you to start a personal conversation with your visitors and turn them into happy customers. Choose one of the most popular chat solutions in Europe.</p>
   ]]>
    </description>
    <description lang="de">
        <![CDATA[
   <b>Smartsupp Live Chat</b>
   <p>Live-Chat für Websiten und Online-Shops. Fangen Sie eine persönliche Unterhaltung mit Ihren Websitenbesuchern an und verwandeln Sie diese in zu friedende Kunden.</p>
   ]]>
    </description>
</plugin>
