<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="boolean">
            <name>active</name>
            <label lang="de">Aktiviert für diesen Shop</label>
            <label lang="en">Active for this Shop</label>
            <value>false</value>
        </element>
        <element type="text">
            <name>chatId</name>
            <label lang="de">Smartsupp-Schlüssel</label>
            <label lang="en">Smartsupp key</label>
        </element>
        <element type="text">
            <name>email</name>
            <label lang="de">Email</label>
            <label lang="en">Email</label>
        </element>
        <element type="textarea">
            <name>optionalCode</name>
            <label lang="de">Optionaler Code</label>
            <label lang="en">Optional code</label>
        </element>
    </elements>
</config>